.galeria{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #444444;
    position: relative;
    top: -315px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.galeria h2{
    text-align: center;
    padding-left: 70px;
    font-size: 40px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
}



.container{
    width: 860px;
    height: 540px;
    position: relative;
    left: 300px;
    overflow: hidden;
    box-shadow: 0px 10px 15px black ;
}

.slide{
    display: block;
    max-width: 100%;
    height: 100%;
    transition: all 1s;
}


button{
    appearance: none;
    border: none;
    background: none;
    position: absolute;
}

button i{
    padding: 10px;
    font-size: 45px;
    cursor: pointer;
    color: white;
    -webkit-text-stroke: black 2px;
} 

button i:active{
    color: orange;
}

#next{
    top: 50%;
    right: 0;
}

#prev{
    top: 50%;
    left: 0;
}   

